@import "tailwindcss";

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Inter";
  src: url('/fonts/Inter-Regular.woff2') format('woff2'),
        url('/fonts/Inter-Light.woff2') format('woff2'),
        url('/fonts/Inter-Italic.woff2') format('woff2'),
        url('/fonts/Inter-Bold.woff2') format('woff2'),
        url('/fonts/Inter-Black.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* Optional: Controls font loading behavior */
} 

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

h1 {
  @apply text-3xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}
h4 {
  @apply text-lg;
}
h5 {
  @apply text-sm;
}
h6 {
  @apply text-xs;
}